/* 
================================================================================
WSP COMPONENT LIBRARY STYLESHEET
================================================================================ */



body {
	 background-image:url(../images/background.jpg);
	 top right: no-repeat; 
	 background-attachment:fixed;
	 font-family: 'Lato', sans-serif;
}


#main {
	height: auto;
	width: 70%;
	background-color: #FFF;	
	margin-left: auto;
	margin-right: auto;	
}

.text {
	width: 60%;
	margin-left: auto;
	margin-right: auto;	
}

img {
    display: block;
    margin: 0 auto;
}

.about {
	text-align:center;	
}


p {
color:	#707070;
}

