/* 
================================================================================
WSP COMPONENT LIBRARY STYLESHEET
================================================================================ */



body {
	 background-image:url(../images/bg1.PNG);
	 background-attachment:fixed;
	 font-family: 'Lato', sans-serif;
}


#main {
	height: auto;
	width: 70%;
	background-color: #FFF;	
	margin-left: auto;
	margin-right: auto;	
}

.text {
	width: 60%;
	margin-left: auto;
	margin-right: auto;	
}

img {
    display: block;
    margin: 0 auto;
}

.about {
	text-align:center;	
}


p {
color:	#707070;
line-height:1.2;
}


h1 {
	font-size:20px;
	margin-top:30px;
	margin-bottom:10px;
}


h2 {
	font-size:34px;
	margin-top:30px;
}

h3 {
	font-size:20px;
	margin-bottom:5px;
	margin-top:20px;
}

a {
	align-content:center;
	color: #15beb7;
	font-weight:500;
	text-transform:uppercase;
	background-color:transparent;
	border:1px solid #15beb7;
	display:block;
	border-radius:2px;
	width:175px;
	padding:15px 36px;
	margin: 30px auto;
}


a:hover {
	color:#ffffff;
	background-color:#15beb7;
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
	
}




@media screen and (max-width: 1200px) {
	#main {
	width: 90%;	
}
	
}


@media screen and (max-width: 992px) {
	#main {
	width: 100%;	
}

.text {
	width: 70%;
}
	
}


@media screen and (max-width: 768px) {
	#main {
	width: 100%;	
}

.text {
	width: 90%;
}
	
}
