/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */




body {
	width: 1140px;
	margin: 0 auto;	
	font-family: 'Open Sans', sans-serif;
	color:#808080;
    line-height:26px;	
}




section{
	padding-top:150px;
	width: 560px;
	float:left;
	padding-left:15px;
    padding-right:15px;
}


/*Left side*/



p {
	font-size:15px;
}


p + p {
	margin-top:25px;
}






/*Right side*/

span {
	float:right;	
}



h4 {
	background-repeat:no-repeat;
	background-position:bottom;
	padding-bottom:15px;
	color:#adadad;
}

/*background image lines*/

.progress-bar {
  position: relative;
  height: 3px;
  margin: 0 0 15px 0;
  background: #c4c4c4;
  width: 100%;
  
}

#line100 {
  width: 100%;
  float:left;
  display: block;
  height: 100%;
  background-color: #d3145a;
}



#line90 {
  width: 90%;
  float:left;
  display: block;
  height: 100%;
  background-color: #d3145a;
}


#line75 {
  width: 75%;
  float:left;
  display: block;
  height: 100%;
  background-color: #d3145a;
}


#line50 {
  width: 50%;
  float:left;
  display: block;
  height: 100%;
  background-color: #d3145a;
}



@media screen and (max-width: 1140px) {
body {
	width:90%;
}

section {
	width:100%;
}
}


@media screen and (max-width: 660px) {

section {
padding-top:50px;	
}
}


