/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */




body {
	width: 1140px;
	margin: 0 auto;	
	font-family: 'Open Sans', sans-serif;
	color:#808080;
    line-height:26px;	
}




article{
	padding-top:150px;
	width: 560px;
	float:left;
	padding-left:15px;
    padding-right:15px;
}


/*Left side*/



p {
	font-size:15px;
}


p + p {
	margin-top:25px;
}






/*Right side*/

span {
	float:right;	
}



h4 {
	background-repeat:no-repeat;
	background-position:bottom;
	margin-bottom:20px;
	padding-bottom:15px;
	color:#adadad;
}

/*background image lines*/

#line100 {
	background-image:url(100.png);	
}

#line90 {
	background-image:url(90.png);
}


#line75 {
	background-image:url(75.png);
}


#line50 {
	background-image:url(50.png);
}

