<!DOCTYPE html>
<html>
<head>
	<title>WSP Skills: Dakota Gillette</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Component -->
	<section>
    	<article>
        	<p>Dynamically coordinate go forward infrastructures through bricks and clicks awesome web services. Collaboratively whiteboard low-risk high yield processes for client bttased markets. Phosfluorescently dominate extensive markets before multimedia based relationships. Collaboratively whiteboard low-risk high yield processes for client bttased markets.</p>
            <p>Dynamically coordinate go forward infrastructures through bricks and clicks awesome web services. Collaboratively whiteboard low-risk high yield processes for client bttased markets.</p>
        </article>
        <article>
            <h4>Branding <span>100%</span></h4>
            <h4>Packaging <span>90%</span></h4> 
            <h4>Illustration <span>75%</span></h4>
            <h4>Photography <span>50%</span></h4>
        </article>
    </section>
	<!-- End Component -->
	
</body>
</html>