<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
    	<article>
        	<p>Dynamically coordinate go forward infrastructures through bricks and clicks awesome web services. Collaboratively whiteboard low-risk high yield processes for client bttased markets. Phosfluorescently dominate extensive markets before multimedia based relationships. Collaboratively whiteboard low-risk high yield processes for client bttased markets.</p>
            <p>Dynamically coordinate go forward infrastructures through bricks and clicks awesome web services. Collaboratively whiteboard low-risk high yield processes for client bttased markets.</p>
        </article>
        <artice>
            <p>Branding <span>100%</span></p>
            <p>skill level line</p> <!-- I will use CSS to replace the text with a background image-->
            
            <p>Packaging <span>90%</span></p>
            <p>skill level line</p> <!-- I will use CSS to replace the text with a background image-->
            
            <p>Illustration <span>750%</span></p>
            <p>skill level line</p> <!-- I will use CSS to replace the text with a background image-->
            
            <p>Photography <span>50%</span></p>
            <p>skill level line</p> <!-- I will use CSS to replace the text with a background image-->
        </article>
    </section>
	<!-- End Component -->
	
</body>
</html>