/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */



body {
	width:1440px;
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
}


h1 {
	margin:5px 0 10px;
	font-size:48px;
	line-height:1.625;
	text-align:center;
	margin-bottom:30px;
}

h1:after {
	background-color:#000000;
	content:'';
	display:block;
	height:2px;
	width:72px;
	margin:10px auto;	
}

img{
	width: calc(100% / 4);
	display:block;
	padding-left:2px;
	padding-top:2px;
	float:left;
}



@media screen and (max-width: 1440px) {
body {
	width:100%;
}

img{
	width: calc(100% / 2);
}
	
}




@media screen and (max-width: 768px) {
	
img{
	width: calc(100% / 1);
}
}

