<!DOCTYPE html>
<html>
<head>
	<title>WSP Social: Dakota Gillette</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
					
				<p>background image</p>
				<img src="instagram_logo.jpg" alt="Instagram Profile Photo"></div>
							<h2>Find us on Instagram</h2>
							<p>#envanto #madebyseries #envantostories #youtube</p>
                            <p>#insideenvato</p>
							<ul>
								<li>
									<span>126</span>
									<strong>Photos</strong>
								</li>
								<li>
									<span>1309</span>
									<strong>Followers</strong>
								</li>
								<li>
									<span>1589</span>
									<strong>Likes</strong>
								</li>
							</ul>
							<a href="">Follow</a>
		</section>
	

	<!-- End Component -->
	
</body>
</html>