/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */


body {
	font-family: 'Open Sans', sans-serif;	
}




a {
	color:#000000;	
}

.logo {
	float:left;
	padding-left:20%;
	padding-top:10px;
}



li {
	display:inline-block;	
	position:relative;
	padding: 5px 20px;
	font:13px/20px 'Open Sans', Open Sans, Helvetica, Arial, sans-serif;
	font-weight:600;
	color:#686868;
	line-height:86px;	
}



.border {
		background-image:url(line.png);
	background-repeat:no-repeat;
	background-position-x: 0%;
  background-position-y: 50%;
}




.active {
	background-color:#e1472f;
	border-left: none;
	height:100px;
}

.active a {
	color:#FFFFFF;
	border-bottom:1px dotted #fff;
	padding-bottom:2px;
	margin-top:20px;
}


ul {
	text-transform:uppercase;
	padding-left: 50%;
}

header {	
	margin: 0 auto;
}


span {
}