/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */





body {
	font-family: 'Open Sans', sans-serif;	
}


header {	
	margin: 0 auto;
}


/*nav styling*/


.border:before {
   	border-left: dotted 1px #000000;
	content:'';
	position:absolute;
	height:40px;
	margin-top:24px;
	margin-left:auto;
	margin-right:auto;
}


.active {
	background-color:#e1472f;
	border-left: none;
	height:100px;
}



/*logo styling*/



.logo {
	float:left;
	padding-left:20%;
	padding-top:10px;
}





/*text styling*/


a {
	display:block;
	color:#000000;
	padding-left:30px;
	padding-right:30px;	
}

li {
	display:inline-block;	
	position:relative;
	padding-top: 5px;
	padding-bottom: 5px;
	font:13px/20px 'Open Sans', Open Sans, Helvetica, Arial, sans-serif;
	font-weight:600;
	color:#686868;
	line-height:86px;	
}
/*
li:before {
	border-left: dotted 1px #000000;
	content:'';
	position:absolute;
	height:40px;
	width:1px;
	margin-top:24px;
	margin-left:auto;
	margin-right:auto;
}
*/


.active a {
	color:#FFFFFF;
	padding-bottom:2px;
}


ul {
	text-transform:uppercase;
	padding-left: 50%;
}


