/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */





body {
	font-family: 'Open Sans', sans-serif;	
}


header {	
	margin: 0 auto;
}


/*nav styling*/


.border {
    background-image:url(line.png);
	background-repeat:no-repeat;
	background-position-x: 0%;
    background-position-y: 50%;
}


.active {
	background-color:#e1472f;
	border-left: none;
	height:100px;
}



/*logo styling*/



.logo {
	float:left;
	padding-left:20%;
	padding-top:10px;
}





/*text styling*/


a {
	color:#000000;	
}

li {
	display:inline-block;	
	position:relative;
	padding: 5px 30px;
	font:13px/20px 'Open Sans', Open Sans, Helvetica, Arial, sans-serif;
	font-weight:600;
	color:#686868;
	line-height:86px;	
}


.active a {
	color:#FFFFFF;
	padding-bottom:2px;
	margin-top:20px;
}


ul {
	text-transform:uppercase;
	padding-left: 50%;
}


