<!DOCTYPE html>
<html>
<head>
	<title>WSP Header: Dakota Gillette</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

<nav>
	<a href=""><img src="http://placehold.it/260x80" alt="logo"></a>
	<ul>
		<li class="active"><a href="#">home</a></li>
		<li><a href="#">pages</a></li>
		<li><a href="#">features</a></li>
        <li><a href="#">portfolio</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">contact</a></li>
	</ul>
</nav>
	<!-- End Component -->
	
</body>
</html>