<!DOCTYPE html>
<html>
<head>
	<title>WSP Header: Dakota Gillette</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Component -->
<header>
	<a href=""><img src="logo.jpg" class="logo" alt="logo"></a>
    <nav>
        <ul>
            <li class="active"><a href="#">home</a></li>
            <li><a href="#">pages</a></li>
            <li class="border"><a href="#">features</a></li>
            <li class="border"><a href="#">portfolio</a></li>
            <li class="border"><a href="#">blog</a></li>
            <li class="border"><a href="#"><span></span>contact</a></li>
        </ul>
    </nav>
</header>
	<!-- End Component -->
	
</body>
</html>