/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */



body {
	width:1140px;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	font-weight:300;
}




article {
	width: calc(100% / 4);
	text-align:center;
	float:left;
	margin-top:40px;
	max-width:280px;
}





/*text styling*/

h3 {
	font-family: 'Open Sans', sans-serif;	
	line-height:30px;
	color:#3c3c3c;
	font-size:18px;
	font-weight:500;
	margin-bottom:15px;
}

h2 {
	text-transform:uppercase;
	letter-spacing:2px;
	text-align:center;
	font-weight:800;
	font-size:36px;
	margin-bottom:10px;
	line-height:40px;
	color:#3c3c3c;
		
}


p {
	font-family: 'Roboto Slab', serif;	
	color:#999;
	text-align:center;
	margin-bottom:30px;
	font-size:13.5px;
	margin:0 0 15px;
	line-height:24px;
	background-image:url(line.png);
	background-repeat:no-repeat;
	background-position:bottom;
	padding-bottom:40px;
}

h3 {
	padding-top:120px;
}


h3 + p {
	font-family: 'Open Sans', sans-serif;
	background-image:none;
	padding-bottom: 0;
}

a {
	font-family: 'Open Sans', sans-serif;
	color:#428bca;
	text-decoration:none;
}

p + p {
	background-image:none;
}




/*icons*/

#icon1 {
	background-image:url(icon1.PNG);
	background-repeat: no-repeat;
	background-position:top;
}

#icon2 {
	background-image:url(icon2.PNG);
	background-repeat: no-repeat;
	background-position:top;
}

#icon3 {
	background-image:url(icon3.PNG);
	background-repeat: no-repeat;
	background-position:top;
}

#icon4 {
	background-image:url(icon4.PNG);
	background-repeat: no-repeat;
	background-position:top;
}
