<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<section>
	<h1>beautifully crafted modern design</h1>
    <p>We deliver a truly premium experience to web professionals. We believe in a diverse range of personel to bring creative skills, out of the box thoughts, and ideas to the table.</p>
    <article>
		<p><a href="">ultra responsive icon</a></p> <!--will add image in css-->
        <h3>Ultra Responsive</h3>
        <p>Nulla vehicula nisl cum soluta nobis est eligendi optio cumque nihil impeditnon enim fermentum veniam.</p>
        <p><a href="#">read more</a></p>
 	</article>  
    <article>     
        <p><a href="">powerful performance icon</a></p><!--will add image in css-->
        <h3>Powerful Performance</h3>
        <p>Nulla vehicula nisl cum soluta nobis est eligendi optio cumque nihil impeditnon enim fermentum veniam.</p>
        <p><a href="#">read more</a></p>
    </article>
    <article>    
        <p><a href="">endless possibilities icon</a></p><!--will add image in css-->
        <h3>Endless Possibilities</h3>
        <p>Nulla vehicula nisl cum soluta nobis est eligendi optio cumque nihil impeditnon enim fermentum veniam.</p>
        <p><a href="#">read more</a></p>
    </article>
    <article>  
        <p><a href="">awesome support icon</a></p><!--will add image in css-->
        <h3>Awesome Support</h3>
        <p>Nulla vehicula nisl cum soluta nobis est eligendi optio cumque nihil impeditnon enim fermentum veniam.</p>
        <p><a href="#">read more</a></p>
	</article>
</section>
	<!-- End Component -->
	
</body>
</html>