<!DOCTYPE html>
<html>
<head>
	<title>WSP Features: Dakota Gillette</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
    
</head>
<body>

	<!-- Component -->
<section>
	<h2>beautifully crafted modern design</h2>
    <p>We deliver a truly premium experience to web professionals. We believe in a diverse range of personel to bring creative skills,<br> out of the box thoughts, and ideas to the table.</p>
        <article id="icon1">
            <h3>Ultra Responsive</h3>
            <p>Nulla vehicula nisl cum soluta nobis est eligendi optio cumque nihil impeditnon enim fermentum veniam.</p>
            <p><a href="#">read more &rarr;</a></p>
        </article>  
        <article id="icon2">     
            <h3>Powerful Performance</h3>
            <p>Nulla vehicula nisl cum soluta nobis est eligendi optio cumque nihil impeditnon enim fermentum veniam.</p>
            <p><a href="#">read more &rarr;</a></p>
        </article>
        <article id="icon3">    
            <h3>Endless Possibilities</h3>
            <p>Nulla vehicula nisl cum soluta nobis est eligendi optio cumque nihil impeditnon enim fermentum veniam.</p>
            <p><a href="#">read more &rarr;</a></p>
        </article>
        <article id="icon4"> 
            <h3>Awesome Support</h3>
            <p>Nulla vehicula nisl cum soluta nobis est eligendi optio cumque nihil impeditnon enim fermentum veniam.</p>
            <p><a href="#">read more &rarr;</a></p>
     </div>   
</section>
	<!-- End Component -->
	
</body>
</html>