/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */




body {
	width: 1340px;
	margin: 0 auto;	
    font-family: 'Roboto Slab', serif;
}

section {
	float:left;
}


p {
	margin:0 0 10px;
}



/*Left Side Contents, Contact form*/

section:first-of-type {
	padding-right:100px;
	padding-top:115px;
}

form {
	font-family:'Open Sans',sans-serif;
	font-size:11px;
	font-weight:400;
	font-style:italic;
	color:#cecece;
	border-radius:5px;
	line-height:1.42857143;
}

input {
	width:56%;
	height:34px;
	padding:6px 12px;
	border:1px solid #ccc;
	border-radius:5px;
	margin-bottom:20px;
}


textarea {
	width:100%;
	height:164px;
	padding:6px 12px;
	border:1px solid #ccc;
	border-radius:5px;
}


button {
	background-color:#15beb7;
	font-family:'Open Sans',sans-serif;
	font-size:13px;
	font-weight:400;
	color:#fff;
	padding:9px 27px;
	border:none;
	border-radius:5px;
	margin-top:20px;
}



h3 {
	font-size:12px;
	font-weight:700;
	color:#3b4350;
	margin-bottom:30px;
	background-image:url(icon-circle.png);
	background-repeat:no-repeat;
	background-position-x: 0%;
    background-position-y: 80%;
	padding-left:17px;
	
}


h2 {
	font-size:25px;
	line-height:36px;
	font-weight:400;
	color:#525252;
	margin-bottom:35px;
}


span {
	font-weight:700;
}





/* Right Side Contents*/ 

section:last-of-type {
	background:url(contact-bg.jpg);
	background-repeat:no-repeat;
	vertical-align:middle;
	line-height: 1.42857143;
	background-size:cover;
	padding:100px 100px 250px;
	width:593.547px;
	height:696px;
}




strong {
	font-size:12px;
	line-height:40px;
	font-weight:700;
	color:	#3b4350;
}


section:last-of-type p {
	font-size:18px;
	font-weight:400;
	color:#fff;
	margin-bottom:22px;
}

/*link styling*/
section:last-of-type  a {
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	color:#fff;
	text-decoration:none;
	border:1px solid #fff;
	display:block;
	border-radius:5px;
	width:275px;
	padding:15px 36px;
	margin: 50px auto;
}



