<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    
<section>
	<article>
		<h3>LET'S TALK</h3>
		<p>Drop us a message and one of our agents will contact you as soon as possible.</p>
        <form method="post" action="" name="contactform">
            <input type="text" id="name" placeholder="Name (Required)">
            <input type="email" id="email" placeholder="E-mail (Required)">
            <textarea id="message" rows="10" placeholder="Write your message here..."></textarea>
            <button>Submit</button>
        </form>
	</article> 
     
     <article>                
     	<p>background image</p><!-- will be added as a background image in css-->
		<strong>ADDRESS</strong>
		<p>285 Address & Street No, Your City, GH</p>
		<strong>E-MAIL</strong><br>
		<p><a href="mailto:#">info@domain.com</a></p>
		<strong>PHONE</strong>
		<p>(888) 520-4567</p>
		<a href="">Get Direction</a>
     </article>
</section>
	<!-- End Component -->
	
</body>
</html>