<!DOCTYPE html>
<html>
<head>
	<title>WSP Contact: Dakota Gillette</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Component -->
    
<section>
	<article class="left">
		<h3>LET'S TALK</h3>
		<h2>Drop us a message and one of our agents will<br><span>contact you</span> as soon as possible.</h2>
        <form method="post" action="" name="contactform">
            <input type="text" id="name" placeholder="Name (Required)">
            <input type="email" id="email" placeholder="E-mail (Required)">
            <textarea id="message" rows="10" placeholder="Write your message here..."></textarea>
            <button>Submit</button>
        </form>
	</article> 
     
     <article class="info">  
     	<div class="color">              
		<strong>ADDRESS</strong>
		<p>285 Address & Street No, Your City, GH</p>
		<strong>E-MAIL</strong><br>
		<p>info@domain.com</a></p>
		<strong>PHONE</strong>
		<p>(888) 520-4567</p>
		<a href="">Get Directions</a>
        </div>
     </article>
</section>
	<!-- End Component -->
	
</body>
</html>