/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

/* HEADER ======================================== */




body {
	width:1240px;
	margin: 0 auto;
}


h1 {
	font-family:Montserrat,sans-serif;
	font-size:36px;	
	font-weight:700;
	text-transform:uppercase;
	background-image:url(hr.png);
	background-position:bottom;
	background-repeat: no-repeat;
	text-align:center;	
	padding-bottom:30px;
}




#column4 {
	column-width:280px;
	column-count:4;
	-webkit-column-count:4;
	-moz-column-count:4;
	text-align:center;
}

h3 {
	font-family: 'Montserrat', sans-serif;	
	font-weight: 700;
	font-size:20px;
}

a {
	color:#000000;	
}

h1 + p {
	padding-top:20px;
	margin:0;
}


p {
	margin:5px 0 10px;
	color:#999;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:14px;
	font-weight:300;
	line-height:1.625;
	text-align:center;
}

ul {
	width: 650px;
	margin:0 auto;
	padding: 40px;
}

li a {
 color:#fff;	
}

li {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	font-family: Montserrat,sans-serif;
}


.blue {
	background-color:#03acdc;
	padding: 8px 20px;
	margin: 4px 3px;
	border-radius: 20px;
}

.yellow {
	background-color:#ffcc0e;
	padding: 8px 20px;
	margin: 4px 3px;
	border-radius: 20px;
}

.purple {
	background-color:#564bb5;
	padding: 8px 20px;
	margin: 4px 3px;
	border-radius: 20px;
}

.green {
	background-color:#18e2ba;
	padding: 8px 20px;
	margin: 4px 3px;
	border-radius: 20px;
}