<!DOCTYPE html>
<html>
<head>
	<title>WSP Team: Dakota Gillette</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Component -->
<section>
	 <h1>Team Members</h1>
                <p>Curabitur eu adipiscing lacus, a iaculis diam. Nullam placerat blandit auctor. Nulla accumsan ipsum et nibh rhoncus, eget tempus sapien <br> ultricies. Donec mollis lorem vehicula.</p>
                <ul>
                    <li class="blue"><a href="#">All</a></li>
                    <li class="yellow"><a href="#">Photographers</a></li>
                    <li class="purple"><a href="#">PSD Designer</a></li>
                    <li class="green"><a href="#">Graphic Design</a></li>
                </ul>
                
                <!--team members-->
                		<article>
                            <img src="team1.jpg" alt="John DOE">
                            <h3><a href="#">John DOE</a></h3>
                            <p>Photographers</p>
                        </article>    

						<article>
                            <img src="team2.jpg" alt="Jenny DOE">
                            <h3><a href="#">Jenny DOE</a></h3>
                            <p>PSD Designer</p>
                        </article>    
						
						<article>
                            <img src="team3.jpg" alt="Mark DOE">
                            <h3><a href="#">Mark DOE</a></h3>
                            <p>Graphic Designer</p>
                        </article>    

						<article>
                            <img src="team4.jpg" alt="Amanda DOE">
                            <h3><a href="#">Amanda DOE</a></h3>
                            <p>Photographers</p>
                         </article> 
</section>               
	<!-- End Component -->
	
</body>
</html>