<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
    
    <h1>Meet Our Team</h1>
    
    <article>
    	<img src="" alt=""/>
        <ul>
        	<li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
        <h2>Sam Brown</h2>
        <p>fghridfgfhoriehgoeihogeirwh greohghreoi hoi grehog  grteohgi rgioh  oirgeio rh oiwer</p>
        <p><a href="">Read More</a></p>
    </article>
    
    
    </section>           
	<!-- End Component -->
	
</body>
</html>