<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	 <h3>Team Members</h3>
               <img src="http://placehold.it/48x9">
                <p>Curabitur eu adipiscing lacus, a iaculis diam. Nullam placerat blandit auctor. Nulla accumsan ipsum et nibh rhoncus, eget tempus sapien ultricies. Donec mollis lorem vehicula.</p>
            </div>
                <ul>
                    <li><a href="#">All</a></li>
                    <li><a href="#">Photographers</a></li>
                    <li><a href="#">PSD Designer</a></li>
                    <li><a href="#">Graphic Design</a></li>
                </ul>
                
                <!--team member-->
                            <img src="http://placehold.it/255x255">
                            <h3><a href="#">John DOE</a></h3>
                            <p>Photographers</p>
                            
               <!--end team member-->    
               
               <!--team member-->
                            <img src="http://placehold.it/255x255">
                            <h3><a href="#">Jenny DOE</a></h3>
                            <p>PSD Designer</p>
                            
               <!--end team member-->
               
               <!--team member-->
                            <img src="http://placehold.it/255x255">
                            <h3><a href="#">Mark DOE</a></h3>
                            <p>Graphic Designer</p>
                            
               <!--end team member-->
               
               <!--team member-->
                            <img src="http://placehold.it/255x255">
                            <h3><a href="#">Amanda DOE</a></h3>
                            <p>Photographers</p>
                            
               <!--end team member-->
               
	<!-- End Component -->
	
</body>
</html>