<!DOCTYPE html>
<html>
<head>
	<title>WSP Reviews: Dakota Gillette</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Component -->
	<section>
    	<div id="overlay">
             <h2><strong>"</strong><small>The Difference between ordinary and<br> extraordinary is </small>just that little extra<strong>"</strong></h2>
             <p>albert einstein</p> 
         </div>                 
    </section>
	

	<!-- End Component -->
	
</body>
</html>