<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
    	<p>background image</p><!--will add image in css-->
         <h2><strong>"</strong><small>The Difference between ordinary and extraordinary is</small>just that little extra<strong>"</strong></h2>
         <p>albert einstein</p>                  
    </section>
	

	<!-- End Component -->
	
</body>
</html>