<!DOCTYPE html>
<html>
<head>
	<title>WSP Pricing: Dakota Gillette</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Component -->
<section>
	<article>
    	<h1>$9</h1>
        <h2>pro</h2>
        <ul>
        	<li>Unlimited something</li>
            <li>Another Awesome Feature*</li>
            <li>5gb Cloud Storage</li>
            <li>5 Users</li>
        </ul>
        <a href="#">sign up</a>
    </article>
    
    <article>
    	<h1>$39</h1>
        <h2>developer</h2>
        <ul>
        	<li>Unlimited something</li>
            <li>Another Awesome Feature*</li>
            <li>5gb Cloud Storage</li>
            <li>5 Users</li>
        </ul>
        <a href="#">sign up</a>
    </article>
    
    <article>
    	<h1>$99</h1>
        <h2>company</h2>
        <ul>
        	<li>Unlimited something</li>
            <li>Another Awesome Feature*</li>
            <li>5gb Cloud Storage</li>
            <li>5 Users</li>
        </ul>
        <a href="#">sign up</a>
    </article>
    
    
    <p>* Here comes some informations related to this feature, it is ment just to showacase, like everything else it can be removed.</p>
    <p>* Here comes some informations related to this feature, it is ment just to showacase, like everything else it can be removed.</p>
    <p>* Here comes some informations related to this feature, it is ment just to showacase, like everything else it can be removed.</p>
</section>
	<!-- End Component -->
	
</body>
</html>