<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<section>
	<article>
    	<h1>$9</h1>
        <h2>pro</h2>
        <ul>
        	<li>Unlimited something</li>
            <li>Another Awesome Feature*</li>
            <li>5gb Cloud Storage</li>
            <li>5 Users</li>
        </ul>
        <a href="#">sign up</a>
        <p>* Here comes some informations related to this feature, it is ment just to showacase, like everything else it can be removed.</p>
    </article>
    
    <article>
    	<h1>$39</h1>
        <h2>developer</h2>
        <ul>
        	<li>Unlimited something</li>
            <li>Another Awesome Feature*</li>
            <li>5gb Cloud Storage</li>
            <li>5 Users</li>
        </ul>
        <a href="#">sign up</a>
        <p>* Here comes some informations related to this feature, it is ment just to showacase, like everything else it can be removed.</p>
    </article>
    
    <article>
    	<h1>$99</h1>
        <h2>company</h2>
        <ul>
        	<li>Unlimited something</li>
            <li>Another Awesome Feature*</li>
            <li>5gb Cloud Storage</li>
            <li>5 Users</li>
        </ul>
        <a href="#">sign up</a>
        <p>* Here comes some informations related to this feature, it is ment just to showacase, like everything else it can be removed.</p>
    </article>
</section>
	<!-- End Component -->
	
</body>
</html>