<!DOCTYPE html>
<html>
<head>
	<title>WSP Footer: Dakota Gillette</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<footer>
	<article>
        <h3>About Us</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam veritatis et quasi nam liber tempore.</p>
        <p>Logo</p> <!-- logo will be inserted in css -->
	</article>

	<article>
        <h3>We are on Twitter</h3>
        <p>loading tweets...</p>
	</article>
                           
	<article>                        
        <h3>Get in Touch with Us</h3>
        <ul>
            <li>Address: 1600 Amphitheatre Parkway, Mountain View, CA 94043</li>
            <li>Phone: +321 123 456 7</li>
            <li>E-mail: <a href="mailto:">johndoe@ipsum.com</a></li>
        </ul>
	</article>
				<section>
					<p>COPYRIGHT &copy; 2013 - SYMPATHIQUE | ALL RIGHTS RESERVED</p>

					<ul>
                    	<!--all will be converted to images in css -->
						<li><a href="#">RSS Feed</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Flickr</a></li>
						<li><a href="#">Google</a></li>
					</ul>	
                </section>				
</footer>
	

	<!-- End Component -->
	
</body>
</html>